*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background: url(/im/ban1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    flex-direction: column;
    align-items: center;
}

form{
    margin: 180px auto;
    text-align: center;
    outline: none;
}
form h1{
    padding: 35px;
    font-size: 45px;
    margin-bottom: 30px;
    color: white;


}


input{
    display: block;
    width: 400px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    margin: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    background: transparent;
    color: lime;
}
button{
    outline: none;
    width: 200px;
    height: 40px;
    background-color: lime;
    color: white;
    border: none;
    font-size: 20px;
    font-family: 900;
    margin-top: 30px;

}
button a{
    color: white;
    text-decoration: none;
    font-family: 900;
}
button:hover{
    background-color: chocolate;
    color: lime;
    transition: all .5s;

}
::placeholder{
    color: whitesmoke;
}