*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;

}
a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}
h1,h2{
    color: lime;
    font-size: 50px;
    font-weight: 900;
    ;
}
.slider{
   background: black; 
   width: 15vw;
   min-height: 100vh;
   position: fixed;
   display: flex;
   flex-direction: column;
}

.slider .logo{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider li{
    font-size: 30px;
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;

}
.slider li:hover{
    background-color: chocolate;
    color: lime;
    cursor: pointer;

}
.container{
    position: absolute;
    right: 0;
    width: 85vw;
    height: 100vh;
    background: #f1f1f1;
}
.container .header{
    position: fixed;
    top: 0;
    right: 0;
    width: 85vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 9px 0 rgba(0, 0, 0, 0.2);

}

.container .header .nav{
   align-items: center;
   width: 90%;
  text-align: center;
   align-items: center;
   display: flex;
   
}
.container .header .nav .search{
    flex: 3;
    display: flex;
    justify-content: center;

}

.container .header .nav .search input[type=text]{
    border: none;
    background: #f1f1f1;
    padding: 10px;
    width: 35%;
    border-radius: 30px;
    font-size: 20px;
    color: red;
}

.container .header .nav .search button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: lime;
    color: white;
    
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 900;
}

.container .header .nav .usr{
    flex-direction: 1;
    
}

.btn{
    background-color: blueviolet;
    color: white;
    padding: 5px 10px;
    text-align: center;

}
.btn:hover{
    color: chocolate;
    background-color: white;
    padding: 3px 8px;
    border: 2px solid chocolate;
}

.container .content{
    position: relative;
    margin-top: 12vh;
    min-height: 90vh;
}
.container .content .cards{
   padding: 20px 15px; 
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}


.container .content .cards .card{
    width: 260px;
    height: 150px;
    background-color: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 21px 0 rgba(0, 0, 0, 0.19);
}
.container .content .cards .card .icon{
    font-size: 40px;
}
.container .content .content-2{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 60vh;
    
    
}

.container .content .content-2 .recent-join{
    flex: 5;
    background: white;
    min-height: 50vh;
    margin: 0 25px 25px 25px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 21px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.container .content .content-2 .new-mem{
    flex: 2;
    background-color: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 21px 0 rgba(0, 0, 0, 0.19);
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid red;
    
}
.title h2{
    color: black;
    font-size: 35px;
}
table{
    padding: 10px;

}
th,td{
 text-align: left;   
 padding: 20px;
 font-size: 20px;
}

@media screen and (max-width:1400px) {
    .slider li{
        font-size: 20px;
    }
    h1{
        font-size: 30px;
    }
}

@media screen and (max-width:1100px){
    .slider li span{
        display: none;
        font-size: 20px;
    }
}